<!DOCTYPE html>
<html>
<head>
    <title>sixthblock</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
		<div class="header" > &nbsp;
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p class="body" align="center"  ></p>
			<p align="center">coming soon</p>
			<p align="center"></p>
			<p>&nbsp;</p>
		</div>
		<div  > 
			<p align="center" height="100%" vertical-align="center" >
			</h3><img src="https://s3.ap-south-1.amazonaws.com/www.sixthblock.com/images/sixthblock.jpg" width="50%" height="50%" />
			</p>
		    
		</div>


</body>
</html>
